# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Compiled extensions
*.so

# Virtual environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Python packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST

# Coverage/test caches
.cache/
.tox/
.nox/
.coverage*
.pytest_cache/
.hypothesis/
nosetests.xml
coverage.xml

# IDE / Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Jupyter / IPython
.ipynb_checkpoints/
profile_default/
ipython_config.py

# Logs
logs/
*.log

# Node/npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build tools
dist/
dist-ssr/
.vite-react-ssg-temp/
.cache-images

# PyInstaller
*.spec

# Others (OS/IDE generated)
.DS_Store
